<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Мой Не Сам</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">

    <style>
        .home {
            height: 1000px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .home__btn-wrapper {
            display: flex;
            justify-content: end;
            padding: 10px;
        }

        .home h1 {
            display: flex;
            justify-content: center;
            font-size: 5em;
            color: rgb(77, 127, 233);
            font-weight: 800;
        }

        .home p {
            display: flex;
            justify-content: center;
            font-size: 1.5em;
            color: rgb(74, 76, 80);
            padding: 10px;
        }

        .home img {
            border-radius: 20px;

        }
    </style>
</head>

<body>
    <div class=" home">
        <div>
            <h1>Мой Не Сам </h1>
            <p>Уборка жилых и производственных помещений</p>
            <img src="/public/clear1.jpg" width="600px" , height="400px" alt="">
            <div class="home__btn-wrapper">
                <a class="btn btn-lg btn-link" type="submit" href="/auth/registration">Зарегистрироваться</a>
                <a class=" btn btn-lg btn-primary" type="submit" href="/auth/login">Войти</a>
            </div>

        </div>
    </div>
</body>

</html>